%html
  %head
    %title Tracker Lagniappe
    %link{:rel => "stylesheet", :href=>"/stylesheets/style.css", :type => "text/css"} 
    %script{:src => "/javascripts/application.js", :type => "text/javascript"}	
  %body
    %h1 Welcome to Tracker Lagniappe
    = yield